/* add your styles here */
.box{
    text-align: center;
  }
  .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
    
  img {
    width: 100%;
    height: auto;
  }